<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">






  <title>Practica Compiladores 1</title>

  <!-- Para CodeMirror-->
 





</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Practica 2 de Compiladores 1</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#" (click)="Guardar()">Guardar
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" >  </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"(click)="Guardar()">Guardar como..</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Salir</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- --------------------------------------------------------------------------------------------r-->

  <div class="col-md-12">
<br>


<h1 class="my-4">
  <div class="card-footer text-muted">
    Codigo en C#
  </div >
</h1>
              
<h5 class="card-title">Cargar Archivo     <input type='file' placeholder="Title" (change)="fileChanged($event)">      </h5>


    <ngx-codemirror 
    [(ngModel)]="codigo"
    [options]="{
      lineNumbers: true,
      matchBrackets: true,
      styeleActiveLine:true,
      theme: 'cobalt',
      mode: 'python'


    }"> </ngx-codemirror>
<div class="card-body">
  <form>


      <button class="btn btn-success btn-block" (click)="analizador()" >
         Analizar

      </button>
  </form>
</div>

  </div>

  <!-------------------------------------------------------------------------------- Page Content -->
  <div class="container" >
    <div class="row" >

      <!-- Blog Entries Column -->
      <div class="col-md-12">   

        <!-- Consola -->
        <div class="card mb-6">
              
          <h5 class="card-title">Consola</h5>                  

        <!-- este es para   no modificar nada   ------   readOnly: 'nocursor', -->
        <ngx-codemirror 
        [(ngModel)]="consola"
        [options]="{
          lineNumbers: true,
          matchBrackets: true,
          styeleActiveLine:true,
          theme: 'eclipse',
          mode: 'javascript'


        }"></ngx-codemirror>





          <div class="card-body">
            <h2 class="card-title">Texto de Ayuda</h2>
            <p class="card-text">Gramatica a aplicar!</p>
            <a href="#" class="btn btn-primary">Leer mas... &rarr;</a>
          </div>
          <div class="card-footer text-muted">
            fecha del proyecto 14 de Abril
            <a href="#">Utilizando Bootstrap</a>
          </div>
        </div>





      </div>




      <!-- Columna derecha -->
      <div class="col-md-6">

           <!-- HTML -->
           <div class="card my-4">
            <h5 class="card-header">Python</h5>
         <!-- este es para   no modificar nada   ------   readOnly: 'nocursor', -->
         <ngx-codemirror 
         [(ngModel)]="python"
         [options]="{
           lineNumbers: true,
           matchBrackets: true,
           styeleActiveLine:true,
           theme: 'cobalt',
           mode: 'python'
 
 
         }" ></ngx-codemirror>
           </div>


        <!-- HTML -->
        <div class="card my-4">
          <h5 class="card-header">HTML</h5>
      <!-- este es para   no modificar nada   ------   readOnly: 'nocursor', -->
      <ngx-codemirror 
      [(ngModel)]="html"
      [options]="{
        lineNumbers: true,
        matchBrackets: true,
        styeleActiveLine:true,
        theme: 'dracula',
        mode: 'go'


      }"></ngx-codemirror>
         </div>


        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">Leyenda de Errores</h5>
          <div class="card-body">
            Cualquier texto de ayuda!
          </div>
        </div>

      </div>





    </div>
    <!-- /.row -->



  </div>
  <!-- /.container -->


 




  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Sergio Ariel Ramírez Castro   &copy;       201020252</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>







</body>

</html>



