<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">






  <title>Practica Compiladores 1</title>

  <!-- Para CodeMirror-->
 





</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Practica 2 de Compiladores 1</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" >Guardar
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" >  </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" >Guardar como..</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" >Salir</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- --------------------------------------------------------------------------------------------r-->


<br>
<br>


<!-- Side  hecho con angular Material -->
<div class="card text-white bg-dark my-4">
  <h2 class="card-header">Codigo en C#</h2>
<mat-tab-group>
<mat-tab>
<ng-template mat-tab-label>
<mat-icon class="example-tab-icon">loupe</mat-icon>
Pestaña 1
</ng-template>

<ngx-codemirror 
[(ngModel)]="codigo1"
[options]="{
lineNumbers: true,
matchBrackets: true,
styeleActiveLine:true,
theme: 'eclipse',
mode: 'javascript'
}"></ngx-codemirror>

<form>
  <h3 class="card-title">Cargar Archivo     <input type='file' placeholder="Title" (change)="fileChanged($event)">   
    <a class="nav-link"  (click)="Guardar(codigo1)">Guardar
      <span class="sr-only">(current)</span>
    </a>   </h3>
  <li class="nav-item active">
    
  <button class="btn btn-success btn-block" (click)="analizador(codigo1)" >
     Analizar
  </button>
</form>
</mat-tab>

<mat-tab>
<ng-template mat-tab-label>
<mat-icon class="example-tab-icon">loupe</mat-icon>
Pestaña 2
</ng-template>

<ngx-codemirror 
[(ngModel)]="codigo2"
[options]="{
lineNumbers: true,
matchBrackets: true,
styeleActiveLine:true,
theme: 'eclipse',
mode: 'javascript'
}"></ngx-codemirror>



<form>
  <h3 class="card-title">Cargar Archivo     <input type='file' placeholder="Title" (change)="fileChanged2($event)">     
    <a class="nav-link"  (click)="Guardar(codigo2)">Guardar
      <span class="sr-only">(current)</span>
    </a> </h3>
  <button class="btn btn-warning btn-block" (click)="analizador(codigo2)" >
     Analizar
  </button>
</form>

</mat-tab>

<mat-tab>
<ng-template mat-tab-label>
<mat-icon class="example-tab-icon">loupe</mat-icon>
Pestaña 3
</ng-template>

<ngx-codemirror 
[(ngModel)]="codigo3"
[options]="{
lineNumbers: true,
matchBrackets: true,
styeleActiveLine:true,
theme: 'eclipse',
mode: 'javascript'
}"></ngx-codemirror>
<form>
  <h3 class="card-title">Cargar Archivo     <input type='file' placeholder="Title" (change)="fileChanged3($event)">  
    <a class="nav-link"  (click)="Guardar(codigo3)">Guardar
      <span class="sr-only">(current)</span>
    </a>    </h3>
  <button class="btn btn-info btn-block" (click)="analizador(codigo3)" >
     Analizar
  </button>
</form>
</mat-tab>
</mat-tab-group>
</div>



<br><br>

 




    
<!-- Side  hecho con angular Material          readOnly: 'nocursor',   -->
<div class="card text-white bg-dark my-4">
  <h2 class="card-header">Codigo en Varios Ambientes</h2>
<mat-tab-group>
<mat-tab>
<ng-template mat-tab-label>
<mat-icon class="example-tab-icon">gesture</mat-icon>
Python
</ng-template>

<ngx-codemirror 
[(ngModel)]="python"
[options]="{
lineNumbers: true,
matchBrackets: true,
readOnly: 'nocursor',
styeleActiveLine:true,
theme: 'cobalt',
mode: 'python' 
}"></ngx-codemirror>


</mat-tab>

<mat-tab>
<ng-template mat-tab-label>
<mat-icon class="example-tab-icon">code</mat-icon>
Html
</ng-template>

<ngx-codemirror 
[(ngModel)]="html"
[options]="{
lineNumbers: true,
readOnly: 'nocursor',
matchBrackets: true,
styeleActiveLine:true,
theme: 'dracula',
mode: 'go'
}"></ngx-codemirror>





</mat-tab>

<mat-tab>
<ng-template mat-tab-label>
<mat-icon class="example-tab-icon">receipt</mat-icon>
Json
</ng-template>

<ngx-codemirror 
[(ngModel)]="Json"
[options]="{
lineNumbers: true,
matchBrackets: true,
readOnly: 'nocursor',
styeleActiveLine:true,
theme: 'eclipse',
mode: 'javascript'
}"></ngx-codemirror>

</mat-tab>
</mat-tab-group>
</div>












  <!-------------------------------------------------------------------------------- Page Content -->
  <div class="container" >
    <div class="row" >

      <!-- Blog Entries Column -->
      <div class="col-md-6">   

       


        <!-- Consola -->
        <div class="card mb-4">
              
               

          <div class="card mb-4">

            <div class="card-body">
              <h2 class="card-title">Errores</h2>
              <p class="card-text">Sintacticos y Lexicos</p>
            </div>
            <table class="table">
              <thead>
                <tr >
                  <th scope="col">#</th>
                  <th scope="col">Tipo Error</th>
                  <th scope="col">Linea</th>
                  <th scope="col">Columna</th>
                  <th scope="col">Descripcion</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let vari of errores_lexicos">
                  <th scope="row">{{vari.getID()}}</th>
                  <td>{{vari.getTipo()}}</td>
                  <td>{{vari.getFila()}}</td>
                  <td>{{vari.getColumna()}}</td>
                  <td>El Caracter   {{vari.getValor()}}   no pertenece al lenguaje</td>
                </tr>
                <tr *ngFor="let varia of errores_sintacticos">
                  <th scope="row">{{varia.getID()}}</th>
                  <td>{{varia.getTipo()}}</td>
                  <td>{{varia.getFila()}}</td>
                  <td>{{varia.getColumna()}}</td>
                  <td>{{varia.getValor()}}</td>
                </tr>

          
              </tbody>
            </table>
          </div>
















        </div>







    </div>











      <!-- Columna derecha -->
      <div class="col-md-6">

          


      <!-- Side Widget 
      <div class="card my-4">
        <h5 class="card-header">Leyenda de Errores</h5>
        <div class="card-body">
          Cualquier texto de ayuda!
        </div>
      </div>
-->








<div class="card mb-4">

  <div class="card-body">
    <h2 class="card-title">Tabla de Variables</h2>
    <p class="card-text">Identificadas!</p>
  </div>
  <table class="table">
    <thead>
      <tr >
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Tipo</th>
        <th scope="col">Linea</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vari of tokens">
        <th scope="row">{{vari.getID()}}</th>
        <td>{{vari.getValor()}}</td>
        <td>{{vari.getTipo()}}</td>
        <td>{{vari.getFila()}}</td>
      </tr>
      <tr *ngFor="let vari of comentarios">
        <th scope="row">{{vari.getID()}}</th>
        <td>{{vari.getValor()}}</td>
        <td>{{vari.getTipo()}}</td>
        <td>{{vari.getFila()}}</td>
      </tr>
    </tbody>
  </table>
</div>



















      </div>





    </div>
    <!-- /.row -->



  </div>
  <!-- /.container -->


 




  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Sergio Ariel Ramírez Castro   &copy;       201020252</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>







</body>

</html>



